= f.input :email, label_html: { class: 's-label' }, input_html: { class: 's-field' }
= f.input :password, label_html: { class: 's-label' }, input_html: { class: 's-field' }
= f.input :password_confirmation, label_html: { class: 's-label' }, input_html: { class: 's-field' }