.team_name
  width: 100%
  text-align: center
  font-size: 20px
  font-weight: normal
  padding: 12px 15px
  color: #404040
  margin-top: 20px

.team_activity
  color: #404040
  margin-left: 35px
  font-size: 16px
  margin-bottom: 25px
  margin-top: 35px

.button.manage_team
  float: right
  margin-bottom: 20px
  width: 180px
  margin-top: 20px

.player_name
  font-size: 20px
  font-weight: normal
  padding: 12px 15px
  color: #404040
  margin-left: 35px

.coach_name
  font-size: 22px
  font-weight: normal
  padding: 12px 15px
  color: #404040
  margin-left:  18%
  margin-top: 15px
  width: 100%
  a
    margin-left: 8px
    font-size: 14px
    text-decoration: none
    color: #404040
  a:hover
    cursor: pointer
    color: #008CFF

.coach_pic
  margin-top: 10px
  margin-left: 25%

.gravatar_link
  a
    margin-left: 20px
    font-size: 13px
    text-decoration: none
    color: #404040
  a:hover
    cursor: pointer
    color: #008CFF


.down
  margin-top: 50px

.pic-section
  margin-left: 18px

.profile_pic
  margin-top: 66px
  float: right
  width: 90%
  margin-right: 5%

.descr
  margin-bottom: 30px

.button.prof_btn
  margin-bottom: 20px
  width: 180px

.coach, .player
  #left_btn
    float: right
    margin-right: 20px
  #right_btn
    float: left
    margin-left: 20px

.coach
  .mt-fields.right-fields
    .mt-label
      margin-left: 16%
      width: 12%
  .mt-fields.unmargin
    margin-left: 0 !important
  .w-col
    padding-left: 0px
    padding-right: 0px
  .mt-fields
    .mt-field
      margin-left: 10px
      width: 61%

    .mt-add-team
      float: right
      margin-right: 10%
      margin-bottom: 20px
      padding: 5px 31px
      width: 30%

.mt-fields
  margin-left: 35px !important

  .one-column-emphasis
    margin-top: 0px
    margin-right: 75px
    margin-left: 20px
    width: 75%

  .mt-field
    height: 30px
    padding-left: 8px
    padding-right: 8px
    margin-bottom: 10px
    width: 50%
    border-radius: 5px
    border: 1px solid #dadada

  .mt-field:focus
    outline: none
    border-color: #7CB4DF
    box-shadow: 0 0 5px #7CB4DF

  .mt-label
    display: inline-block
    margin-left: 5%
    width: 29%
    color: #404040

  .button.mt-search
    margin-left: 32%
    display: block
    padding: 7px 31px
    text-aligin: center
    font-size: 12px
    width: 61%

  .button.mt-invite
    padding: 5px 31px
    margin-left: 28%
    font-size: 12px
    width: 64%

.sep-block
  width: 100%
  display: block

span.country
  float: right

ul.list
  list-style-type: none
  display: block
  margin-left: 55px
  padding: 0
  width: 86%
  margin-bottom: 20px

  li
    padding: 3px 6%
    border: 1px solid #E5E5E5
    color: #5C5C5C
    border-radius: 4px 4px 4px 4px
    margin-bottom: 2px

  li:hover
    background-color: #EFF2FF

.ui-draggable-helper
  background-color: #EFF2FF
  z-index: 100
  width: 440px

ul.team-list
  list-style-type: none
  display: block
  margin-left: 55px
  padding: 0
  width: 80%
  margin-bottom: 10px

  li
    padding: 7px 6%
    border: 1px solid #E5E5E5
    border-radius: 4px 4px 4px 4px
    margin-bottom: 2px

  li:hover
    background-color: #EFF2FF

    ul.sortable-players
      li
        background-color: #EFF2FF
        border-color: #EFF2FF

ul.sortable-players
  min-height: 10px
  width: 100%
  list-style: none
  li
    padding: 3px 6%
    background-color: #F2F2F2
    border: 1px solid #E5E5E5
    border-radius: 4px 4px 4px 4px
    margin-bottom: 2px
    color: #5C5C5C